/* Page d'accueil */


.page_accueil {
  width: auto;
  height: 106.17886178861788vh;
  background-image: url(../img/Fond_de_base.jpeg);
  background-attachment: fixed;
  background-size: cover;
}





/* Première page Question */


.premiere_page_question {
  width: auto;
  height: 106.17886178861788vh;
  background-image: url(../img/Fond_de_base.jpeg);
  background-attachment: fixed;
  background-size: cover;
}






/* Première page Réponse */


.premiere_page_reponse {
  width: auto;
  height: 106.17886178861788vh;
  background-image: url(../img/Fond_de_base.jpeg);
  background-attachment: fixed;
  background-size: cover;
}








/* Deuxieme page question */

.deuxieme_page_question {
  width: auto;
  height: 106.17886178861788vh;
  background-image: url(../img/Fond_de_base.jpeg);
  background-attachment: fixed;
  background-size: cover;
}