/* Première page Question */


.h2_gauche {
  position: relative;
  top: 2%;
  left: 2%;
}

.text_h2_gauche {
  white-space: nowrap;
}

.centrer_question {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
