/* Les différentes polices */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Le CSS principal */

* {
  font-family: "Roboto", sans-serif;
  z-index: 0;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Pacifico", sans-serif;
  max-width: 240px;
  color: rgba(106, 142, 237, 1);
  font-size: 32px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
}

h2 {
  font-family: "Pacifico", sans-serif;
  max-width: 170px;
  color: rgba(106, 142, 237, 1);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.h2_question {
  max-width: 300px;
  color: rgba(106, 142, 237, 1);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Pacifico", sans-serif;
}

.h2_reponse {
  max-width: 300px;
  color: rgba(106, 142, 237, 1);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Pacifico", sans-serif;
}

button {
  /* Personnalisation du fond */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  height: 30px;
  width: 80px;
  border: 0;
  border-radius: 15px;
  background-color: rgba(106, 142, 237, 1);

  /* Personnalisation du text */
  max-width: 80px;
  color: rgba(0, 0, 0, 1);
  font-size: 18px;
  line-height: 160.0000023841858%;
  letter-spacing: 0%;
  text-align: center;
  font-family: "Pacifico", sans-serif;
}
